In [57]:
from minisom import MiniSom
import pandas as pd 
import numpy as np 

data = pd.read_csv("./QCM Sensor Alcohol Dataset/QCM3.csv", sep = ';')

ModuleNotFoundError: No module named 'minisom'

In [24]:
data.shape

(125, 15)

In [25]:
data.dtypes

0.799_0.201      float64
0.799_0.201.1    float64
0.700_0.300      float64
0.700_0.300.1    float64
0.600_0.400      float64
0.600_0.400.1    float64
0.501_0.499      float64
0.501_0.499.1    float64
0.400_0.600      float64
0.400_0.600.1    float64
1-Octanol          int64
1-Propanol         int64
2-Butanol          int64
2-propanol         int64
1-isobutanol       int64
dtype: object

In [26]:
data.head()

,0.799_0.201,0.799_0.201.1,0.700_0.300,0.700_0.300.1,0.600_0.400,0.600_0.400.1,0.501_0.499,0.501_0.499.1,0.400_0.600,0.400_0.600.1,1-Octanol,1-Propanol,2-Butanol,2-propanol,1-isobutanol
0,-10.06,-10.62,-14.43,-18.31,-24.64,-30.56,-38.62,-45.59,-54.89,-62.28,1,0,0,0,0
1,-9.69,-10.86,-16.73,-21.75,-28.47,-35.83,-43.65,-52.43,-61.92,-71.27,1,0,0,0,0
2,-12.07,-14.28,-21.54,-27.92,-35.19,-43.94,-52.04,-62.49,-71.97,-83.10,1,0,0,0,0
3,-14.21,-17.41,-25.91,-33.36,-41.29,-51.27,-59.94,-71.55,-81.51,-93.83,1,0,0,0,0
4,-16.57,-20.35,-29.97,-37.84,-47.03,-57.29,-67.13,-78.96,-90.01,-102.65,1,0,0,0,0

In [55]:
attributes = data.drop(['1-Octanol', '1-Propanol', '2-Butanol', '2-propanol', '1-isobutanol'],axis = 1)
attributes.head()

,0.799_0.201,0.799_0.201.1,0.700_0.300,0.700_0.300.1,0.600_0.400,0.600_0.400.1,0.501_0.499,0.501_0.499.1,0.400_0.600,0.400_0.600.1
0,-10.06,-10.62,-14.43,-18.31,-24.64,-30.56,-38.62,-45.59,-54.89,-62.28
1,-9.69,-10.86,-16.73,-21.75,-28.47,-35.83,-43.65,-52.43,-61.92,-71.27
2,-12.07,-14.28,-21.54,-27.92,-35.19,-43.94,-52.04,-62.49,-71.97,-83.10
3,-14.21,-17.41,-25.91,-33.36,-41.29,-51.27,-59.94,-71.55,-81.51,-93.83
4,-16.57,-20.35,-29.97,-37.84,-47.03,-57.29,-67.13,-78.96,-90.01,-102.65

In [53]:
classes = data.drop(['0.799_0.201','0.799_0.201.1','0.700_0.300', '0.700_0.300.1', '0.600_0.400', '0.600_0.400.1', '0.501_0.499', '0.501_0.499.1', '0.400_0.600', '0.400_0.600.1'], axis=1)
classes1 = classes.idxmax(axis=1)

In [54]:
from sklearn import preprocessing
attributes = preprocessing.scale(attributes)

for i in range(125):
    length = sum(map(lambda x: float(x**2), attributes[i]))**0.5
    for j in range(len(attributes[i])):
        attributes[i][j] = attributes[i][j]/length
print(attributes)

[[ 0.36730989  0.3546996   0.36439155 ...  0.25584465  0.2825796
   0.22461791]
 [ 0.38374365  0.36656628  0.36655418 ...  0.24584153  0.27906709
   0.21369528]
 [ 0.39498754  0.36727168  0.3713515  ...  0.2365016   0.28152843
   0.20569565]
 ...
 [-0.08054752 -0.14819724 -0.12222667 ... -0.47641469 -0.33269295
  -0.56272259]
 [-0.08858756 -0.15263592 -0.13547171 ... -0.47290614 -0.33440241
  -0.5526872 ]
 [-0.09751087 -0.15426808 -0.13869528 ... -0.47308803 -0.33917539
  -0.54987674]]

In [46]:
for i in range(len(classes1)):
    if(classes1[i] == "1-Octanol"):
        classes1[i] = 0
    elif classes1[i] == "1-Propanol":
        classes1[i] = 1
    elif classes1[i] == "2-Butanol":
        classes1[i] = 2
    elif classes1[i] == "2=Propanol":
        classes1[i] = 3
    elif classes1[i] == "1-isobutanol":
        classes1[i] = 4

0    0
1    0
2    0
3    0
4    0
dtype: object

In [56]:
#16, 16 is the width and height of neurons. 
# sigma might be D 
som = MiniSom(16,16,12,sigma=1.5,learning_rate=0.5)
som.pca_weights_init(Attributes)
som.train(Attributes,1000,verbose=True)

NameError: name 'MiniSom' is not defined